<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth is-size-7">
        <thead class="has-text-left is-size-7">
            <th>Header Name</th>
            <th>Header Values</th>
        </thead>
        <tbody>
        {% for (name, value) in headers %}
            <tr class="is-family-code">
            <td class="is-narrow is-family-code">
                <span class="has-text-weight-light">{{name}}</span>
            </td>
            <td class="is-family-code">
                <span class="has-text-weight-light">{{ value }}</span>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
